@charset "UTF-8";
:root {
  --inner-height: calc(var(--innerVh, 1vh)*100);
  --fontSize: 13px;
  --fontColor: #202020;
  --linkColor: var(--fontColor);
  --fontFamily: "Noto Sans JP","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",meiryo,"MS Ｐゴシック",sans-serif;
  --fontMincho: "EB Garamond","Times New Roman","MS 明朝","MS Mincho","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","メイリオ",meiryo,serif;
  --lineHeight: 1.6;
  --transition: all 0.3s linear;
  --borderColor: var(--fontColor);
  --themeBlue: #3296d4;
  --themeBlueGreen: #00b2cc;
  --themeGrey: #e9e9e9;
  --baseWidth: 1280px;
  --headerWidth: 218px;
  --mobileHeaderH: 60px;
  --desktopHeaderH: 70px;
  --wpEditorMargin: 20px;
  --desktopInnerPadding: 0 109px 0 calc(var(--headerWidth) + 109px);
}

a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--fontColor);
  text-decoration: none;
  transition: opacity 0.3s linear;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

i {
  font-style: italic;
}

ul {
  list-style: none;
}

h2, h3 {
  font-weight: 400;
}

figure {
  display: block;
}

.p-svg {
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

body {
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
}

.inner {
  box-sizing: border-box;
  padding: 0 8%;
  width: 100%;
}

svg.icon {
  stroke: currentColor;
  stroke-width: 0;
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

#l-wrap {
  margin: 0;
  padding: 0;
}

.p-header {
  height: 60px;
  height: var(--mobileHeaderH);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.p-header__inner {
  padding: 10px 5.1% 0;
}
.p-header__nestedinner {
  position: relative;
}
.p-header__logo {
  width: 81px;
}
.p-header__logo a {
  display: block;
  height: auto;
  width: 100%;
  transition: opacity 0.5s ease-in-out 0.1s;
}
.p-header__logo a img {
  display: block;
  height: auto;
  width: 100%;
}
.p-header__btn {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 50px;
  margin-top: -25px;
  outline: none;
  padding: 10px;
  position: absolute;
  right: -7px;
  top: 50%;
  width: 50px;
  z-index: 9999;
}
.p-header__btn i {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.p-header__btn i span {
  background: var(--fontColor);
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  transition: transform 0.3s;
  width: 100%;
}
.p-header__btn i::before {
  background: var(--fontColor);
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  transition: transform 0.3s;
  width: 100%;
  transform: translateY(-10px);
}
.p-header__btn i::after {
  background: var(--fontColor);
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  transition: transform 0.3s;
  width: 100%;
  transform: translateY(10px);
}
.p-header__btnTop {
  transform: translateY(-5px);
}
.p-header__btnBottom {
  transform: translateY(5px);
}

.menu-opened .p-header__btn i::before {
  transform: translateY(0) rotate(45deg);
}
.menu-opened .p-header__btn i span {
  background-color: transparent;
}
.menu-opened .p-header__btn i::after {
  transform: translateY(0) rotate(-45deg);
}

.menu-opened .p-menu {
  opacity: 1;
  transform: translateZ(0);
  visibility: visible;
  z-index: 2000;
}

.p-menu {
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  height: 100%;
  height: var(--inner-height);
  left: 0;
  opacity: 0;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translate3d(0, -40px, 0);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
.p-menu__content {
  height: 100%;
}
.p-menu__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10.7%;
  width: 100%;
}
.p-menu__logo {
  width: 84px;
}
.p-menu__logo img {
  display: block;
  height: auto;
  width: 100%;
}
.p-menu__page {
  font-family: var(--fontMincho);
  font-size: 19px;
  letter-spacing: 0.05em;
  line-height: 2.263;
  margin-top: 50px;
}
.p-menu__pagelist {
  color: var(--fontColor);
}
.p-menu__pagelist::before {
  content: "​";
  float: left;
}
.p-menu__pagelist[selected] a {
  text-decoration: underline;
}
.p-menu__pagelist a {
  align-items: center;
  color: var(--fontColor);
  display: inline-flex;
  margin-left: -4px;
}
.p-menu__pagelist .p-svg__colon {
  display: block;
  font-size: 0.75rem;
  height: 12px;
  line-height: 1;
  margin: 0 6px 0 auto;
  width: 12px;
}
.p-menu__pagelist .p-svg__colon svg {
  display: block;
}

.opened .p-accordion__tab::after {
  margin-top: -2px;
  transform: rotate(-45deg);
}

.p-accordion__tab {
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  font-style: normal;
  padding-right: 48px;
  color: var(--fontColor);
  align-items: center;
  display: inline-flex;
  margin-left: -4px;
}
.p-accordion__tab::after {
  border-right: 1px solid #331815;
  border-top: 1px solid #331815;
  content: "";
  display: block;
  height: 12px;
  margin-top: -8px;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: rotate(135deg);
  transition: all 0.3s linear;
  width: 12px;
}
.p-accordion__inner {
  display: none;
  padding-left: 26px;
}
.p-accordion__page {
  line-height: 1.946;
  list-style: none;
}

.p-lang {
  line-height: 2.077;
  margin-top: 22px;
}
.p-lang__list::before {
  content: "​";
  float: left;
}

.p-sns {
  display: flex;
  margin-top: 30px;
  list-style: none;
}
.p-sns__list {
  margin-left: 20px;
}
.p-sns__list:first-child {
  margin-left: 0;
}
.p-sns__list a {
  color: #4b4b4b;
  display: block;
  padding: 5px 0;
}
.p-sns__list a i {
  font-size: 18px;
  line-height: 1;
}

.p-section:first-child {
  padding-top: var(--mobileHeaderH);
}
.p-section__inner {
  padding-left: 0;
}
.p-section__nestedinner {
  position: relative;
}
.p-section__heading {
  position: relative;
}
.p-section__ttl {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.p-section__headinginner {
  display: flex;
  align-items: center;
  font-family: var(--fontMincho);
  font-size: 29px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.025em;
  line-height: 1;
}
.p-section__headinginner i {
  font-size: 17px;
  height: 17px;
  margin-right: 7px;
  width: 17px;
}
.p-section__object {
  display: block;
  width: 100%;
}
.p-section__object img {
  display: block;
  height: auto;
  width: 56%;
}

.p-slider__wrap {
  position: relative;
}
.p-slider__for div {
  overflow: hidden;
  width: 100%;
  display: inline-block;
}
.p-slider__for div div source {
  display: block;
}
.p-slider__for div div img {
  width: 100%;
  display: block;
}

.p-intro {
  overflow: hidden;
  position: relative;
}
.p-intro__inner {
  padding: 0;
}
.p-intro__nestedinner {
  position: relative;
}
.p-intro__h1 {
  margin: 13% auto 15%;
  width: 65.1%;
}
.p-intro__h1 img {
  display: block;
  height: auto;
  width: 100%;
}
.p-intro__pic {
  display: block;
  position: relative;
  width: 80%;
  z-index: 2;
}
.p-intro__pic img {
  width: 100%;
  display: block;
  height: auto;
}
.p-intro__object {
  height: 56vw;
  left: 0;
  position: absolute;
  top: 61%;
  width: 56%;
  z-index: 1;
}
.p-intro__object img {
  display: block;
  height: auto;
  width: 100%;
}
.p-intro__lead {
  box-sizing: border-box;
  letter-spacing: 0.01em;
  line-height: 1.846;
  margin: 25.5% 0 0;
  padding: 0 8%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.p-product {
  margin-top: 85px;
  position: relative;
}
.p-product::before {
  background: var(--themeGrey);
  content: "";
  display: block;
  height: 310px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 100%;
  z-index: 1;
}
.p-product__inner {
  padding: 0;
  position: relative;
  z-index: 5;
}
.p-product__pic {
  display: block;
  padding-left: 12%;
}
.p-product__pic img {
  width: 100%;
}
.p-product.even .p-product__pic {
  padding-left: 0;
  padding-right: 12%;
}
.p-product__heading {
  margin-top: -8%;
}
.p-product__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.p-product__items.columns3 {
  margin-top: 10px;
}
.p-product__items.columns3 .p-product__list {
  margin-top: 35px;
  width: 207px;
}
.p-product__items.columns3 .p-product__list img {
  display: block;
  height: auto;
  width: 100%;
}
.p-product__items.columns3 .p-product__list figcaption {
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-top: 12px;
  text-align: center;
}
.p-product__items.columns3 .p-product__list figcaption span {
  color: #6c6c6a;
  display: block;
  font-size: 10px;
}
.p-product__items.columns2 {
  margin-top: -8px;
}
.p-product__items.columns2 .p-product__list {
  margin-top: 45px;
  width: 270px;
}
.p-product__items.columns2 .p-product__list:first-child {
  margin-top: 0;
}
.p-product__items.columns2 .p-product__list img {
  display: block;
  height: auto;
  width: 100%;
}
.p-product__items.columns2 .p-product__list figcaption {
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-top: 12px;
  text-align: center;
}
.p-product__content {
  margin-top: 50px;
  padding: 0 8%;
}
.p-product__h3 {
  font-size: 20px;
  letter-spacing: 0.075em;
  line-height: 1.5;
}
.p-product__box {
  margin-top: 15px;
}
.p-product__description {
  line-height: 2;
  letter-spacing: 0.01em;
}
.p-product__button {
  margin-top: 22px;
}
.p-product__button a {
  border: 1px solid var(--borderColor);
  display: block;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  width: 182px;
}

.p-news {
  background: var(--themeGrey);
  margin-top: 100px;
  padding-bottom: 65px;
}
.p-news__inner {
  position: relative;
  padding: 0;
}
.p-news__heading {
  transform: translate3d(0, -14%, 0);
}
.p-news__content {
  line-height: 1.615;
  padding: 0 8%;
}
.p-news__list {
  margin-top: 28px;
}
.p-news__list:first-child {
  margin-top: 0;
}
.p-news__dt {
  font-size: 10px;
  letter-spacing: 0.1em;
}
.p-news__dd {
  letter-spacing: 0.05em;
  margin-top: 4px;
  max-height: 42px;
}
.p-news__button {
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 15px;
  text-align: right;
}
.p-news__button a {
  text-decoration: underline;
}

.p-footer {
  background: #fff;
  padding: 25px 0;
  text-align: center;
}
.p-footer .p-sns {
  justify-content: center;
  margin-top: 0;
}
.p-footer .p-sns__list {
  margin-left: 30px;
}
.p-footer .p-sns__list:first-child {
  margin-left: 0;
}
.p-footer .p-sns__list i {
  font-size: 28px;
  height: 28px;
  line-height: 1;
  width: 28px;
}
.p-footer__copy {
  color: #4b4b4b;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 9px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .inner {
    margin: 0 auto;
    padding: 0 0 0 var(--headerWidth);
    width: var(--baseWidth);
  }
  .p-header {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: var(--baseWidth);
  }
  .p-header__inner {
    padding: 0;
    position: fixed;
    width: 218px;
  }
  .p-header__section {
    display: none;
  }
  .p-menu {
    background: none;
    opacity: 1;
    padding: 70px 0 0;
    position: relative;
    transform: translateZ(0);
    transition: none;
    visibility: visible;
    z-index: 2000;
  }
  .p-menu__content {
    height: auto;
  }
  .p-menu__inner {
    display: block;
    height: auto;
    padding-left: 47px;
    position: relative;
    width: 100%;
  }
  .p-menu .inner {
    height: auto;
    margin: 0 auto;
  }
  .p-menu__logo {
    left: 115px;
    position: absolute;
    top: 312px;
    transform: rotate(90deg);
    transform-origin: left top;
    width: 178px;
    z-index: 1;
  }
  .p-menu__page {
    font-size: 15px;
    letter-spacing: 0.025em;
    line-height: 1.867;
    margin-top: 0;
  }
  .p-menu__pagelist a {
    color: var(--fontColor);
    display: block;
    margin-left: 0;
  }
  .p-menu__pagelist .p-svg__colon {
    display: none;
  }
  .p-accordion__tab {
    color: var(--fontColor);
    display: block;
    margin-left: 0;
    padding-right: 0;
  }
  .p-accordion__tab::after {
    content: none;
  }
  .p-lang {
    align-items: center;
    display: flex;
    font-size: 11px;
    line-height: 2.273;
    margin-top: 12px;
  }
  .p-lang__list {
    margin-left: 18px;
  }
  .p-lang__list:first-child {
    margin-left: 0;
  }
  .p-lang__list .sp {
    display: none;
  }
  .p-sns {
    display: none;
  }
  .p-section:first-child {
    padding-top: var(--desktopHeaderH);
  }
  .p-section__inner {
    padding: var(--desktopInnerPadding);
  }
  .p-section__heading {
    height: 299px;
    width: 299px;
  }
  .p-section__ttl {
    display: block;
  }
  .p-section__headinginner {
    display: inline-flex;
    font-size: 36px;
    justify-content: flex-start;
    letter-spacing: 0.05em;
    margin: 20px 0 0 60px;
    transform: rotate(90deg);
    transform-origin: left top;
  }
  .p-section__headinginner i {
    font-size: 22px;
    height: 22px;
    margin-right: 7px;
    width: 22px;
  }
  .p-section__object img {
    width: 100%;
  }
  .p-slider__inner {
    padding-left: calc(var(--headerWidth) + 109px);
  }
  .p-slider__wrap {
    height: 481px;
  }
  .p-intro {
    overflow: hidden;
    padding: 115px 0 0;
  }
  .p-intro__inner {
    padding: var(--desktopInnerPadding);
  }
  .p-intro__h1 {
    margin: 0 0 0 70px;
    position: relative;
    width: 339px;
    z-index: 2;
  }
  .p-intro__pic {
    left: 488px;
    position: absolute;
    top: 84px;
    width: 299px;
    z-index: 2;
  }
  .p-intro__object {
    height: 260px;
    left: -109px;
    top: 29px;
    width: 260px;
  }
  .p-intro__lead {
    letter-spacing: 0.05em;
    line-height: 2;
    margin: 55px 0 0;
    padding: 0;
  }
  .p-product::before {
    height: 450px;
    top: 120px;
  }
  .p-product__inner {
    padding: var(--desktopInnerPadding);
  }
  .p-product__pic {
    padding-left: 0;
  }
  .p-product.even .p-product__pic {
    padding-right: 0;
  }
  .p-product__heading {
    margin: -150px 0 0 -109px;
  }
  .p-product__items {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin: -53px 0 0;
  }
  .p-product__items.columns3 {
    margin-top: -29px;
  }
  .p-product__items.columns3 .p-product__list {
    flex: 0 1 228px;
    margin-top: 0;
    width: auto;
  }
  .p-product__items.columns3 .p-product__list figcaption {
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 20px;
    text-align: right;
  }
  .p-product__items.columns3 .p-product__list figcaption span {
    letter-spacing: 0.025em;
  }
  .p-product__items.columns2 {
    display: flex;
    justify-content: flex-start;
    margin-top: -80px;
  }
  .p-product__items.columns2 .p-product__list {
    flex: 0 1 299px;
    margin: 0 0 0 28px;
    width: auto;
  }
  .p-product__items.columns2 .p-product__list:first-child {
    margin-left: 0;
  }
  .p-product__items.columns2 .p-product__list figcaption {
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin-top: 12px;
    text-align: right;
  }
  .p-product__items.columns2 .p-product__list figcaption span {
    letter-spacing: 0.025em;
  }
  .p-product__content {
    display: flex;
    margin-top: 65px;
    padding: 0;
  }
  .p-product__h3 {
    flex: 0 1 327px;
    font-size: 22px;
    line-height: 1.636;
  }
  .p-product__box {
    flex: 1 1;
    margin-top: 0;
  }
  .p-product__description {
    letter-spacing: 0.05em;
    width: 408px;
  }
  .p-product__button {
    margin-top: 35px;
  }
  .p-product__button a {
    margin: 0;
    padding: 7px 0;
    width: 192px;
  }
  .p-news {
    margin-top: 100px;
    padding-bottom: 65px;
  }
  .p-news__inner {
    padding: 0 109px 0 216px;
  }
  .p-news__nestedinner {
    display: flex;
  }
  .p-news__header {
    flex: 0 1 299px;
  }
  .p-news__heading {
    transform: translate3d(0, -73px, 0);
  }
  .p-news__content {
    flex: 1 1;
    margin: 75px 0 0 30px;
    padding: 0;
  }
  .p-news__list {
    margin-top: 15px;
  }
  .p-news__list:first-child {
    margin-top: 0;
  }
  .p-news__dl {
    display: flex;
  }
  .p-news__dt {
    flex: 0 1 109px;
    font-size: 12px;
  }
  .p-news__dd {
    flex: 1 1;
    margin-top: 0;
    max-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .p-news__button {
    margin-top: 25px;
  }
  .p-footer {
    padding: 55px 0 65px;
    text-align: left;
  }
  .p-footer__inner {
    padding-left: 327px;
  }
  .p-footer__section {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .p-footer .p-sns {
    display: flex;
    justify-content: flex-start;
  }
  .p-footer .p-sns__list {
    margin-left: 20px;
  }
  .p-footer .p-sns__list:first-child {
    margin-left: 0;
  }
  .p-footer .p-sns__list i {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  .p-footer__copy {
    font-size: 10px;
    margin-top: 0;
  }
}/*# sourceMappingURL=sp.css.map */